{% extends "base.html" %}

{% block content %}
    <div class="px-5 py-3">
        <span class="fs-3">Выберите <b>{{ sign }}</b> для слова <b>{{ word }}</b></span><br>
        <div class="px-3 py-2">
            <form method="post">
                {% for i in variants %}
                    <input type="radio" name="answer" value="{{ i }}" class="form-check-input">
                    <span class="form-check-label">{{ i }}</span><br>
                {% endfor %}
                <br><div class="alert" id="answer-div" hidden></div>
                <input class="btn btn-outline-dark" id="answer-btn" value="Ответить" type="button">
                <input type="button" class="btn btn-outline-dark ms-1" value="Далее" id="next" disabled>
            </form>
            {% if current_user.is_authenticated %}
                <input type="button" class="btn btn-outline-dark my-2" value="Узнать результаты" id="get-results" disabled>
            {% endif %}
        </div>
        <script src="{{ url_for('static', filename='scripts/test_page.js') }}"></script>
    </div>
{% endblock %}